.DS_Store
example/www/phonegap/*
example/ios/exampleWizUtils.xcodeproj/xcuserdata/*
example/ios/exampleWizUtils.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
