# OSX
.DS_Store

# iOS
example/ios/exampleWizUtils.xcodeproj/xcuserdata/*
example/ios/exampleWizUtils.xcodeproj/project.xcworkspace/*
example/ios/www/phonegap/*
example/ios/www/index.html

# Windows Phone 8
example/wp8/exampleWizUtils.v11.suo
example/wp8/exampleWizUtils/Bin
example/wp8/exampleWizUtils/exampleWizUtils.csproj.user
example/wp8/exampleWizUtils/obj
example/wp8/exampleWizUtils/Plugins
example/wp8/exampleWizUtils/www/phonegap/*
example/wp8/exampleWizUtils/www/index.html

# Android Studio & Eclipse
*.apk
*.ap_
*.dex
bin/
gen/
local.properties
.classpath
.project
.idea/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp

# General
bin/
.idea
