.DS_Store
example/www/phonegap/*
example/ios/exampleWizUtils.xcodeproj/xcuserdata/*
example/ios/exampleWizUtils.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/wp8/exampleWizUtils.v11.suo
example/wp8/exampleWizUtils/Bin
example/wp8/exampleWizUtils/exampleWizUtils.csproj.user
example/wp8/exampleWizUtils/obj
example/wp8/exampleWizUtils/Plugins
example/wp8/exampleWizUtils/www/phonegap/*
example/wp8/exampleWizUtils/www/index.html
